########################################
# AMBIENTE
########################################
APP_ENV=

ENV_FILE=
SPRING_PROFILES_ACTIVE=

GATEWAY_PORT=
EUREKA_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

AUTH_DB_NAME=
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASSWORD=

EMPRESA_DB_NAME=
EMPRESA_DB_HOST=
EMPRESA_DB_PORT=
EMPRESA_DB_USER=
EMPRESA_DB_PASSWORD=

PESSOA_DB_NAME=
PESSOA_DB_HOST=
PESSOA_DB_PORT=
PESSOA_DB_USER=
PESSOA_DB_PASSWORD=

PERMISSAO_DB_NAME=
PERMISSAO_DB_HOST=
PERMISSAO_DB_PORT=
PERMISSAO_DB_USER=
PERMISSAO_DB_PASSWORD=

CLIENTE_DB_NAME=
CLIENTE_DB_HOST=
CLIENTE_DB_PORT=
CLIENTE_DB_USER=
CLIENTE_DB_PASSWORD=

ESTOQUE_DB_NAME=
ESTOQUE_DB_HOST=
ESTOQUE_DB_PORT=
ESTOQUE_DB_USER=
ESTOQUE_DB_PASSWORD=

# =========================
# EUREKA
# =========================
EUREKA_URL=

# =========================
# JWT
# =========================
UNICOS_JWT_ISSUER=
UNICOS_JWT_SECRET=
UNICOS_TEMPO_EXP_TOKEN=
UNICOS_TEMPO_EXP_REFRESH_TOKEN=
UNICOS_INTERNAL_TOKEN=
