########################################
# AMBIENTE
########################################
APP_ENV=docker

# =========================
# DATABASE
# =========================
# Preencher localmente
DB_HOST=mysql
DB_PORT=3306
DB_USER=
DB_PASSWORD=

# =========================
# EUREKA
# =========================
EUREKA_URL=http://service-registry:8081/eureka/

# =========================
# SPRING CONFIG
# =========================
SPRING_CONFIG_SERVER_URL=http://config-server:8888

# =========================
# EMAIL
# =========================
# Preencher localmente
EMAIL_USERNAME=
EMAIL_PASSWORD=

# =========================
# JWT
# =========================
# Preencher localmente
UNICOS_JWT_ISSUER=unicos-ms-auth
UNICOS_JWT_SECRET=
UNICOS_TEMPO_EXP_TOKEN=15
UNICOS_TEMPO_EXP_REFRESH_TOKEN=1440

# =========================
# CONFIG SERVER AUTH
# =========================
# Preencher localmente
UNICOS_SERVERCONFIG=

########################################
# DATABASES DOS MICROSSERVIÇOS
########################################
DB_NAME_AUTENTICACAO=unicos_autenticacao
DB_NAME_PERMISSAO=unicos_permissao
DB_NAME_PESSOAS=unicos_pessoas
DB_NAME_USUARIO=unicos_usuario
DB_NAME_PRODUTO=unicos_produto
DB_NAME_CLIENTE=unicos_cliente
DB_NAME_EMPRESA=unicos_empresa
DB_NAME_ESTOQUE=unicos_estoque